ul{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

#header{
  position: relative;
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#websiteName{
  position: absolute;
  left: 3rem;
  margin: 2rem 0 0 0;
  font-size: 3rem;
  font-weight: 700;
}

#searchbar{
  position: absolute;
  right: 3rem;
  width: 21.5rem;
  height: 2.5rem;
  margin: 2rem 0 0 0;
  border-radius: 3rem;
  border: none;
  background-color: #f3f3f3;
  padding: 0 1rem 0 1rem;
}

#searchbar:hover{
  box-shadow: 0px 0px 5px 2px #e0e0e0;
}

#searchbar:focus{
  outline: none;
  background-color: #eaeaea;
}

#hero{
  width: 100%;
  display: flex;
  margin: 3rem 0 0 0;
}

#categories{
  width: 15rem;
  height: 25rem;
  background-color: bisque;
  margin: 3rem;
}

#sidebarFooter{
  width: 15rem;
  height: 5rem;
  background-color: burlywood;
  margin: 0 3rem 0 3rem;
}

#heroMain{
  width: 100%;
  height: 25rem;
  margin: 3rem 3rem 3rem 0;
}

#carouselContainer{
  width: 70%;
  height: 25rem;
  background-color: blue;
}

#trending{
  width: 30%;
  height: 25rem;
}

#trendingArticles{
  width: 100%;
  height: 20rem;
  background-color: cadetblue;
  margin: 3rem 3rem 3rem 0;
}

.heroMainHeader{
  display: flex;
}

.trending-list{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trending-topic-one{
  list-style: none;
  width: 90%;
  height: 7rem;
  border-radius: 1rem;
  margin: 0;
  background-color: #f3f3f3;
  text-align: left;
}

.trending-topic-item{
  list-style: none;
  width: 90%;
  height: 4rem;
  border-radius: 1rem;
  margin: 0.2rem 0 0 0;
  background-color: #f3f3f3;
  text-align: left;
}