ul{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

#websiteName{
  position: absolute;
  left: 3rem;
  margin: 2rem 0 0 0;
  font-size: 3rem;
  font-weight: 700;
}

#hero{
  width: 100%;
  display: flex;
  margin: 3rem 0 0 0;
}

#categoriesSidebar{
  position: fixed;
}

#categories{
  width: 15rem;
  height: 25rem;
  margin: 3rem;
}

#sidebarFooter{
  width: 15rem;
  height: 5rem;
  background-color: burlywood;
  margin: 0 3rem 0 3rem;
}

#heroMain{
  width: 100%;
  height: 25rem;
  margin: 3rem 3rem 3rem 20rem;
}

#carouselContainer{
  width: 70%;
  height: 25rem;
  display: flex;
}

#trending{
  width: 30%;
  height: 25rem;
}

#topArticles{
  width: 100%;
  margin: 3rem 3rem 3rem 0.5rem;
}

#top-articles-box{
  width: 50rem;
  height: 20rem;
  background-color: #f3f3f3;
  border-radius: 1rem;
}

.heroMainHeader{
  display: flex;
}

.trending-list{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trending-topic-one{
  list-style: none;
  width: 90%;
  height: 7rem;
  border-radius: 1rem;
  margin: 0;
  background-color: #f3f3f3;
  text-align: left;
}

.trending-topic-item{
  list-style: none;
  width: 90%;
  height: 4rem;
  border-radius: 1rem;
  margin: 0.2rem 0 0 0;
  background-color: #f3f3f3;
  text-align: left;
}

.main-carousel-container{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-carousel{
  width: 95%;
  height: 95%;
  border-radius: 1rem;
  background-color: #f3f3f3;
}

.sub-carousels{
  width: 50%;
  height: 100%;
  display: flex;
}

.sub-carousel-1, .sub-carousel-2{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-carousel-content1, .sub-carousel-content2, .sub-carousel-content3, .sub-carousel-content4{
  width: 95%;
  height: 45%;
  border-radius: 1rem;
  background-color: #f3f3f3;
  margin: 0.5rem;
}

.sub-carousel-content3, .sub-carousel-content4{
  margin: 0.5rem 0.5rem 0.5rem 1rem;
}